<style type="text/css">
    .d-none {
        display: none;
    }

    .d-block {
        display: block;
    }
</style>
<table align="center" cellspacing="0" cellpadding="0" style="
      max-width: 600px;
      width: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      color: #08122C;
      font-family: Arial;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 20px;
      border: none;">
    <tr>
        <td>
            <p style="font-size: 24px; font-weight: bold;">Nieuwe klantenservice vraag [zip_code] </p>
        </td>
    </tr>
    <tr style="height: 20px;"></tr>
    <tr>
        <td>
            <p>
                <strong>Postcode:</strong> [post_code]
            </p>
            <p>
                <strong>Huisnummer:</strong> [house_number]
            </p>
            <p>
                <strong>Naam:</strong> [customerF_fullname]
            </p>
            <p>
                <strong>Email:</strong> [customer_email]
            </p>
            <p>
                <strong>Vraag:</strong> [question]
            </p>
        </td>
    </tr>
</table>