<table align="center" 
cellspacing="0"
cellpadding="0"
style="
    max-width: 600px;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #08122C;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    border: none;"
>
<tr>
    <td>
        <img width="600" height="210" src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/VKO_email_background.png"
            alt="" />
    </td>
</tr>

<tr>
    <td style="height: 20px;"></td>
</tr>

<tr>
    <td>
        <p style="font-size: 24px; font-weight: bold;">Overzicht <span style="font-size: 24px; font-weight: bold;color: #4A90E2;">energieverbruik</span> [target_month] [target_year]</p>
    </td>
</tr>
<tr style="height: 20px;"></tr>
<tr>
    <td>
        <p >
            Beste [customer_first_name],
        </p>
        <p>
            Hierbij sturen we je jouw maandelijkse energierapport voor het adres [delivery_address]. In dit rapport vind je een overzicht van je energieverbruik in de maand [target_month], inclusief de kosten* hiervan (incl. btw).
        </p>
        <p>
            Je kunt jouw verbruik ook altijd inzien in onze mobiele app. Deze download je eenvoudig via de <a href="https://apps.apple.com/nl/app/kikker-energie/id1475461441?mt=8">Apple App Store</a> of de <a href="https://play.google.com/store/apps/details?id=com.infodation.my_kikker">Google Play Store</a>. Wil je jouw energieverbruik verlagen? Lees dan de bespaartip onderaan deze e-mail. Dit bespaart geld en draagt bij aan een beter milieu, altijd goed! 
        </p>
    </td>
</tr>

<tr>
    <td style="height: 40px;">
    </td>
</tr>

<tr>
    <td>
        <table align="center" 
                    cellspacing="0"
                    cellpadding="0"
                    style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;
                        padding: 0;"
                    >
            <tr>
                <td style="width: 380px; background-color: #F2F3F4; padding: 22px; border-top: 5px solid #7DB928; vertical-align:top">
                    <table align="center" 
                        cellspacing="0"
                        cellpadding="0"
                        style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;"
                        >
                        <tr>
                            <td>
                                <p style="font-size: 21px; font-weight: bold;">Je <strong style="color: #7DB928;">stroomverbruik</strong></p>
                                <p>Dit is je stroomverbruik van de afgelopen maand.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                cellspacing="0"
                                cellpadding="0"
                                style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;"
                                >
                                    <tr>
                                        <td style="
                                        background-color: #7DB928;
                                        border-radius: 8px;
                                        text-align: right;
                                        width: 100%;
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        padding-top: 5px;
                                        padding-bottom: 4px;
                                        color: #ffffff;
                                        font-weight: bold;
                                        height: 20px;
                                        line-height: 21px;
                                    ">
                                            [usage] kWh
                                        </td>
                                        <td>
            
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[previous_month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                cellspacing="0"
                                cellpadding="0"
                                style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;"
                                >
                                    <tr>
                                        <td style="
                                        background-color: #9c9c9c;
                                        border-radius: 8px;
                                        text-align: right;
                                        width: 80%;
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        padding-top: 5px;
                                        padding-bottom: 4px;
                                        color: #ffffff;
                                        font-weight: bold;
                                        height: 20px;
                                        line-height: 21px;
                                    ">
                                            [usage] kWh
                                        </td>
                                        <td>
            
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[last_month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                cellspacing="0"
                                cellpadding="0"
                                style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;"
                                >
                                    <tr>
                                        <td style="width: 25px;">
                                            <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/vko-background_no_usage.png" alt=""
                                                width="25"
                                                height="30"
                                                style="
                                                border-radius: 8px;">
                                        </td>
                                        <td style="padding-left: 10px; color: #9B9B9B; font-weight: bold;">
                                            Onbekend
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                cellspacing="0"
                                cellpadding="0"
                                style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;"
                                >
                                    <tr>
                                        <td style="width: 35px">
                                            <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/vko-exclamation-icon.png" alt=""
                                                width="20"
                                                height="20">
                                        </td>
                                        <td style="font-size: 10px; font-style: italic; line-height: 14px;">
                                            Omdat we de meterstand niet konden uitlezen, hebben we de stand ingeschat. Mogelijk heeft je meter een storing. <strong>Neem contact op met je netbeheerder.</strong>
                                        </td>
                                        <td style="width: 52px;">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 27px;">
                </td>
                <td style="width: 193px; vertical-align:top">
                    <div style="height: 10px;"></div>
                    <p style="font-weight: bold;">Gemiddeld stroomverbruik [month_sample] [year_sample] per huishouden</p>
                    <table align="center" 
                    cellspacing="0"
                    cellpadding="0"
                    style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;"
                    >
                        <tr>
                            <td style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px;">
                                [number_of_people]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_elk] kWh
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 80px;">
                                [number_of_people]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_elk] kWh
                            </td>
                        </tr> <tr>
                            <td style="width: 80px;">
                                [number_of_people]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_elk] kWh
                            </td>
                        </tr> <tr>
                            <td style="width: 80px;">
                                [number_of_people]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_elk] kWh
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px;"></td>
                        </tr>
                    </table>
                    <p>
                        Bron:  <a href="https://www.nibud.nl/consumenten/energie-en-water/#:~:text=Elektriciteitsverbruik,is%202.730%20kWh%20per%20jaar." style="color: #4A90E2; word-break: break-all;">
                            Nibud (2021)</a> -<br/>herberekend per maand
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td height="20"></td>
</tr>

<tr>
    <td>
        <p>
            Je hebt in [elk_target_month] [elk_total_usage_target_month] kWh verbruikt en [total_return_delivery_target_month] kWh teruggeleverd. Hierdoor heb je netto [usage_return] kWh verbruikt. Je verbruikskosten komen hiermee op € [elk_usage_dependent_cost]. Je betaalt daarnaast ook nog vaste kosten, zoals netbeheerkosten en overheidsheffingen (incl. vermindering energiebelasting). Je vaste kosten voor [elk_target_month] zijn € [elk_usage_independent_cost]. Je totale stroomverbruik sinds de start van je contract is [total_elk_usage_since_contract_start] kWh.
        </p>
    </td>
</tr>

<tr>
    <td style="height: 20px;"></td>
</tr>

<tr>
    <td>
        <table align="center" 
                    cellspacing="0"
                    cellpadding="0"
                    style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;
                        padding: 0;"
                    >
            <tr>
                <td style="width: 295px;background: #f2f8e9;">
                    <table align="center" 
                        cellspacing="0"
                        cellpadding="0"
                        style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;
                            padding: 10px;"
                        >
                        <tr>
                            <td style="font-weight: bold;">EAN [elk_ean_number]</td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik normaal:
                            </td>
                            <td>
                                [elk_EAEnergyConsumptionNettedPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik dal:
                            </td>
                            <td>
                                [elk_EAEnergyConsumptionNettedOffPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarteruglevering normaal:
                            </td>
                            <td>
                                [elk_EAEnergyProductionNettedPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarteruglevering dal:
                            </td>
                            <td>
                                [elk_EAEnergyProductionNettedOffPeak] kWh
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="width: 10px;"></td>

                <td style="width: 295px;background: #f2f8e9;">
                    <table align="center" 
                        cellspacing="0"
                        cellpadding="0"
                        style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;
                            padding: 10px;"
                        >
                        <tr>
                            <td style="font-weight: bold;">EAN [elk_ean_number]</td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik normaal:
                            </td>
                            <td>
                                [elk_EAEnergyConsumptionNettedPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik dal:
                            </td>
                            <td>
                                [elk_EAEnergyConsumptionNettedOffPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarteruglevering normaal:
                            </td>
                            <td>
                                [elk_EAEnergyProductionNettedPeak] kWh
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarteruglevering dal:
                            </td>
                            <td>
                                [elk_EAEnergyProductionNettedOffPeak] kWh
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="height: 40px;">
    </td>
</tr>

<tr>
    <td>
        <table align="center" 
                    cellspacing="0"
                    cellpadding="0"
                    style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;
                        padding: 0;"
                    >
            <tr>
                <td style="width: 380px; background-color: #F2F3F4; padding: 22px; border-top: 5px solid #F0675C; vertical-align:top">
                    <table align="center" cellspacing="0" cellpadding="0" style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;">
                        <tbody><tr>
                            <td>
                                <p style="font-size: 21px; font-weight: bold;">Je <strong style="color: #F0675C;">stroomverbruik</strong></p>
                                <p>Dit is je gasverbruik van de afgelopen maand.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;">
                                    <tbody><tr>
                                        <td style="
                                        background-color: #F0675C;
                                        border-radius: 8px;
                                        text-align: right;
                                        width: 100%;
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        padding-bottom: 5px;
                                        color: #ffffff;
                                        font-weight: bold;
                                        height: 20px;
                                        line-height: 21px;
                                    ">
                                            [usage] m<sup>3</sup>
                                        </td>
                                        <td>
            
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[previous_month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;">
                                    <tbody><tr>
                                        <td style="
                                        background-color: #9c9c9c;
                                        border-radius: 8px;
                                        text-align: right;
                                        width: 80%;
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        padding-bottom: 5px;
                                        color: #ffffff;
                                        font-weight: bold;
                                        height: 20px;
                                        line-height: 21px;
                                    ">
                                            [previous_usage] m<sup>3</sup>
                                        </td>
                                        <td>
            
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-weight: bold;">[last_month_year]</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 3px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;">
                                    <tbody><tr>
                                        <td style="width: 25px;">
                                            <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/vko-background_no_usage.png" alt="" width="25" height="30" style="
                                                border-radius: 8px;">
                                        </td>
                                        <td style="padding-left: 10px; color: #9B9B9B; font-weight: bold;">
                                            Onbekend
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" style="
                                    width: 100%;
                                    -ms-text-size-adjust: 100%;
                                    -webkit-text-size-adjust: 100%;
                                    color: #08122C;
                                    font-family: Arial;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    border: none;">
                                    <tbody><tr>
                                        <td style="width: 35px">
                                            <img height="20" width="20" src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/vko-exclamation-icon.png" alt="" width="20px" height="20px">
                                        </td>
                                        <td style="font-size: 10px; font-style: italic; line-height: 14px;">
                                            Omdat we de meterstand niet konden uitlezen, hebben we de stand ingeschat. Mogelijk heeft je meter een storing. <strong>Neem contact op met je netbeheerder.</strong>
                                        </td>
                                        <td style="width: 52px;">
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                            
                            
                        </tr>
                    </tbody></table>
        
                </td>
                <td style="width: 27px;">
                </td>
                <td style="width: 193px; vertical-align:top">
                    <div style="height: 10px;"></div>
                    <p style="font-weight: bold;">Gemiddeld stroomverbruik [month_year] per huishouden</p>
                    <table align="center" cellspacing="0" cellpadding="0" style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;">
                        <tbody><tr>
                            <td style="height: 10px;"></td>
                        </tr>
                        <tr>
                            <td style="width: 80px;">
                                [house_type]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_gas] m<sup>3</sup>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 80px;">
                                [house_type]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_gas] m<sup>3</sup>
                            </td>
                        </tr> <tr>
                            <td style="width: 80px;">
                                [house_type]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_gas] m<sup>3</sup>
                            </td>
                        </tr> <tr>
                            <td style="width: 80px;">
                                [house_type]	
                            </td>
                            <td style="font-weight: bold;">
                                [avarage_gas] m<sup>3</sup>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 10px;"></td>
                        </tr>
                    </tbody></table>
                    <p>
                        Bron:  <a href="https://www.cbs.nl/nl-nl/cijfers/detail/81528NED" style="color: #4A90E2; word-break: break-all;">
                            CBS (2021)</a> -<br>herberekend per maand
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td height="20"></td>
</tr>

<tr>
    <td>
        <p>
            Je hebt in [gas_target_month] [gas_total_usage_target_month] m<sup>3</sup> verbruikt. Je verbruikskosten komen hiermee op € [gas_usage_dependent_cost]. Je betaalt daarnaast ook nog vaste kosten, zoals netbeheerkosten en overheidsheffingen. Je vaste kosten voor [gas_target_month] zijn € [gas_usage_independent_cost]. Je totale gasverbruik sinds de start van je contract is [total_gas_usage_since_contract_start] m<sup>3</sup>.
        </p>
    </td>
</tr>

<tr>
    <td style="height: 20px;"></td>
</tr>

<tr>
    <td>
        <table align="center" 
                    cellspacing="0"
                    cellpadding="0"
                    style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;
                        padding: 0;"
                    >
            <tr>
                <td style="width: 295px;background: #fdefee;">
                    <table align="center" 
                        cellspacing="0"
                        cellpadding="0"
                        style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;
                            padding: 10px;"
                        >
                        <tr>
                            <td style="font-weight: bold;">EAN [gas_ean_number]</td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik:
                            </td>
                            <td>
                                [gas_EAEnergyConsumptionNettedPeak] m<sup>3</sup>
                            </td>
                        </tr>
                    </table>
                </td>

                <td style="width: 10px;"></td>

                <td style="width: 295px;background: #fdefee;">
                    <table align="center" 
                        cellspacing="0"
                        cellpadding="0"
                        style="
                            width: 100%;
                            -ms-text-size-adjust: 100%;
                            -webkit-text-size-adjust: 100%;
                            color: #08122C;
                            font-family: Arial;
                            font-size: 12px;
                            letter-spacing: 0;
                            line-height: 20px;
                            border: none;
                            padding: 10px;"
                        >
                        <tr>
                            <td style="font-weight: bold;">EAN [gas_ean_number]</td>
                        </tr>
                        <tr>
                            <td>
                                Standaard jaarverbruik:
                            </td>
                            <td>
                                [gas_EAEnergyConsumptionNettedPeak] m<sup>3</sup>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td style="height: 40px;"></td>
</tr>

<tr>
    <td>
        <table align="center" cellspacing="0" cellpadding="0" style="
                        width: 100%;
                        -ms-text-size-adjust: 100%;
                        -webkit-text-size-adjust: 100%;
                        color: #08122C;
                        font-family: Arial;
                        font-size: 12px;
                        letter-spacing: 0;
                        line-height: 20px;
                        border: none;
                        padding: 0;">
            <tbody>
                <tr>
                    <td style="width: 100%; background-color: #ecf3fc; padding: 22px; border-top: 5px solid #4A90E2; vertical-align:top">
                        <table align="center" cellspacing="0" cellpadding="0" style="
                                width: 100%;
                                -ms-text-size-adjust: 100%;
                                -webkit-text-size-adjust: 100%;
                                color: #08122C;
                                font-family: Arial;
                                font-size: 12px;
                                letter-spacing: 0;
                                line-height: 20px;
                                border: none;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-size: 21px; font-weight: bold;">Met een frisse wind tot <strong style="font-size: 21px;color: #4A90E2;">€ 50 </strong>per jaar besparen?</p>
                                        <p>
                                            Het klinkt gek, maar door elke dag 10 minuten te ventileren bespaar je ook op je energieverbruik. Het verwarmen van frisse lucht kost namelijk minder energie dan het opwarmen van de lucht die al in huis hangt. Zet wel verwarming lager zodat je geen warmte verliest.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p style="text-align: right; margin-top: 10px;margin-bottom: 15px;">
                            Bron:  <a href="https://www.nibud.nl/consumenten/energie-en-water/#:~:text=Elektriciteitsverbruik,is%202.730%20kWh%20per%20jaar." style="color: #4A90E2; word-break: break-all;">
                                Milieu Centraal (2021)</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>

<tr>
    <td>
        <p style="word-break: break-all; margin-top: 0px; margin-bottom: 0px;">
            Werkt bovenstaande button niet? Kopieer dan de volgende link in je browser:
            <a href="[payment_url]" style="color: #4A90E2; word-break: break-all;">
            [payment_url]</a>
        </p>
        <p>
            Heb je nog vragen? Kijk in de app of op de website onder veelgestelde vragen, stuur een e-mail naar <a href="mailto:servicedesk@kikker.nl" style="color: #4A90E2; word-break: break-all;">
            servicedesk@kikker.nl</a> of neem contact op met jouw wederverkoper Tailwind via mail op <a href="mailto:info@tailwind.nl" style="color: #4A90E2; word-break: break-all;">info@tailwind.nl</a> of telefonisch op 020-2994200.
        </p>
        <p>
            Met vriendelijke groet,<br />
            Kikker Energie
        </p>

        <p style="text-align: right; margin-top: 40px;">
            * De werkelijke kosten kunnen anders zijn (bijv. bij een tariefswijziging)
        </p>
    </td>
</tr>
<tr>
    <td style="height: 25px;">
    </td>
</tr>
</table>
</td>
</tr>
<tr style="height: 72px; padding: 0 30px;background: #08122C;">
<td style=" margin-top: 40px;">
<table width="100%" style="border-spacing:0;font-family:Arial,Helvetica,sans-serif;color:#ffffff">
<tbody>
    <tr>
        <td bgcolor="#08122C" style="padding: 40px 0px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                <tr>
                    <td width="75%" style="color: #ffffff; font-family: Arial, sans-serif; font-size: 12px; line-height: 22px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <a href="https://kikker.nl/">
                                        <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/kikker-white.png" alt="kikker-logo-white." height="40" style="display: block; margin: 0 0 10px 0;" border="0" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="color: #ffffff; margin: 0 20px 0 0;">Tt. Vasumweg 122<br/>1033 SH Amsterdam</p>
                                </td>
                                <td>
                                    <p style="margin: 0;">
                                        <img class="phone-icon" src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/email.png" alt="email" height="12" style="margin: 0 5px 0 0;">
                                        <a href="mailto:info@kikker.nl" style="color: #fff; text-decoration: unset">info@kikker.nl</a><br />
                                        <img class="phone-icon" src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/phone.png" alt="phone" height="12" style="margin: 0 5px 0 0;">
                                        <a href="tel:0202994200" style="color: #fff; text-decoration: unset;">020 - 2994200</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="right">
                        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <a href="https://apps.apple.com/nl/app/kikker-energie/id1475461441?mt=8">
                                        <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/appstore.png" alt="appstore" height="40" style="display: block; margin: 0 0 10px 0;" border="0" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://play.google.com/store/apps/details?id=com.infodation.my_kikker">
                                        <img src="https://storage.googleapis.com/kikkerprodbucket/static-files/mail-images/playstore.png" alt="playstore" height="40" style="display: block;" border="0" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tbody>
</table>
<table width="100%" style="border-spacing:0;font-family:Arial,Helvetica,sans-serif;color:#08122C">
<tbody>
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 0px; color: #4A90E2; font-family: Arial, sans-serif; font-size: 12px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                            <tr>
                                <td width="30%">
                                    <p style="margin: 0;"><a href="https://kikker.nl/intro/algemene_voorwaarden" style="color: #4A90E2; text-decoration: unset">Algemene voorwaarden</a></p>
                                </td>
                                <td width="30%">
                                    <p style="margin: 0;"><a href="https://kikker.nl/intro/privacybeleid" style="color: #4A90E2; text-decoration: unset">Privacyverklaring</a></p>
                                </td>
                                <td>
                                    <p style="margin: 0;"> Geen verbruiks- en kostenoverzicht meer ontvangen? Meld je af door <a href="#" style="color: #4A90E2; text-decoration: unset">hier</a> te klikken.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</tbody>
</table>
</td>
</tr>
</table>